html {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: sans-serif;
    min-height: 100vh;
}

.example {
    min-height: 100vh;
}

.example__cnt {
    width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px;
}

.example__row {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}

.example__half {
    padding: 20px;
    box-sizing: border-box;
    max-width: 50%;
    flex: 0 1 50%;
}
