.multiselect
	padding 8px 12px
	border 1px solid rgba(0,0,0, .2)
	border-radius 2px
	position relative
	box-shadow 0 1px 2px rgba(0,0,0, .05), inset 0 -1px 0 #fff
	cursor pointer
	background linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.015))
	
	&:hover
		border 1px solid rgba(0,0,0, .3)
		
	&__selectedOptions
		margin -2px
		flex-wrap wrap
		display flex
		overflow hidden
		
	&__options
		margin-top 0
		
	&__option
		margin 2px
		display inline
		
	&__input
		margin 2px
		color #000
		display inline-block
		
	&__loader
		position absolute
		right 12px
		bottom 14px

.input
	outline none
	border none
	line-height 20px
	font-size inherit
	max-width 100%
	
.options
	border 1px solid rgba(0,0,0, .15)
	box-shadow 0 2px 40px rgba(0,0,0, .05)
	box-sizing border-box
	border-top none
	max-height 200px
	overflow scroll
	overflow-x hidden
	background-color #fff
	user-select none

	&__empty
		font-size .9em
		padding 10px 10px
		text-align center
		
	&__loading
		position absolute
		width 100%
		height 100%
		background-color rgba(255, 255, 255, .9)
		text-align center
		display flex
		justify-content center
		align-items center
		
.option
	padding 8px 12px
	cursor pointer
	transition background-color .2s ease

	&--focused
		transition background-color .1s ease
		background-color rgba(#000, .05)

.selectedOption
	display inline-flex
	justify-content center
	align-items center
	background-color #0072bc
	color #fff
	padding 4px 8px
	border-radius 2px
	text-decoration none
	outline none
	user-select none
	cursor pointer
	background linear-gradient(to bottom, lighten(#0072bc, 15%), #0072bc)
	box-shadow 0 1px 0 darken(#0072bc, 20%), inset 0 -1px 0 lighten(#0072bc, 10%);

	&:not(.selectedOption--focused):hover
		background linear-gradient(to bottom, lighten(#0072bc, 20%), lighten(#0072bc, 5%))
		
	&--focused
		background linear-gradient(to bottom, lighten(#0072bc, 10%), darken(#0072bc, 15%))
		box-shadow 0 1px 0 darken(#0072bc, 30%), inset 0 -1px 0 lighten(#0072bc, 5%);
		
	&__caption
		white-space nowrap
		font-size .9em
		
	&__remove
		height 12px
		width 12px
		display inline-flex
		justify-content center
		align-items center
		margin-left 4px
		cursor pointer
		
		&:after
			content '✕'
			font-size 12px
			font-weight bold
			line-height 12px
			color rgba(255,255,255, .3)
			margin-left 2px
			
			.selectedOption__remove:hover &
				color rgba(255,255,255, .5)
